.DisplayGrid {
  display: grid;
  padding: 2em 5rem;
  gap: 2rem 0;
  grid-template-columns: repeat(4, 1fr);
}

.MoviePoster {
  cursor: pointer;
  border-radius: 5px;
  height: 278px;
  transition: all 0.1s linear;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.MoviePoster:hover {
  transform: scale(1.01);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
