.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  background-color: rgba(255, 193, 4, 0.9);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.Navbar > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.Navbar > a:hover {
  color: white;
}

@media (min-width: 800px) {
  .Navbar {
    padding: 1rem 3rem;
    justify-content: flex-start;
  }

  .Navbar > a:not(:last-child) {
    margin-right: 2rem;
  }
}
