.SearchContainer {
  min-height: calc(100vh - 7.2rem);
  position: relative;
  display: flex;
  flex-direction: column;
}

.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SearchBar {
  display: flex;
}
.SearchInput {
  min-width: 300px;
  margin-right: 1rem;
}
.SearchImage {
  align-self: center;
}

@media (min-width: 800px) {
  .SearchContainer {
    min-height: calc(100vh - 9.2rem);
  }

  .SearchImage {
    height: 500px;
  }
}
