.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.Subtitles {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.Subtitles > p:first-child {
  margin-bottom: 2rem;
}

.Image {
  height: 120px;
  margin-bottom: 2rem;
}

.Subtitles > p {
  font-size: 1.6rem;
  margin-top: 1rem;
  cursor: pointer;
  text-align: center;
}

.Subtitles > p:hover {
  color: white;
}

@media (min-width: 800px) {
  .Title {
    margin-bottom: 4rem;
  }
  .Subtitles {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .Subtitles > p:first-child {
    margin-bottom: 0;
  }

  .Image {
    height: 280px;
    margin: 0 5rem;
  }
}
